<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul class="horizontal">
  <li><%= link_to "Edit", edit_article_path(@article), class: "button" %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    method: :delete,
                    confirm: "Are you sure?"
                  }, class: "button" %></li>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
